<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskManager.Properties.Settings>
            <setting name="SetDefaultSectionName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncrementSectionName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetDefaultTaskName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncrementTaskName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSettingsID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThemeID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultSectionName" serializeAs="String">
                <value>Новый раздел</value>
            </setting>
            <setting name="DefaultTaskName" serializeAs="String">
                <value>Новая задача</value>
            </setting>
            <setting name="DoneStatusVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RejectedStatusVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeferredStatusVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompletedStatusVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BeginingStatusVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTodayTasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndicateByStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndicateByPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoneIndicate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortByStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortByPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortByName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortByEndDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortByStartDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DescendingSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmDeleteSection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmCompleteTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRenewalTasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxSectionLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MaxTaskLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ConfirmDeleteTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FiltersAreExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrioritiesSetID" serializeAs="String">
                <value>0</value>
            </setting>
        </TaskManager.Properties.Settings>
    </userSettings>
</configuration>